<!--
<div class="jumbotron jumbotron-fluid rounded shadow" style="margin-top: 20px">
  <div class="container "  >
    <div class=" p-3 rounded-lg" style="margin-left: 40px;margin-right: 40px; background-color: rgba(255,255,255,0.42)">
      <div class=" rounded-lg" style=" margin-left: 20px;">
    <a class="h1" style="font-size: 4vh; font-synthesis: weight;color: #805ac3;"  >Подборка жилья</a>
      </div>
      <div class="col-8"></div>
      </div>
    </div>
</div>
-->

<header class="masthead rounded shadow" >
  <div class="container h-100" style="margin-top: 15px">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center" style="color: white">
        <h1 class="font-weight-light">Подборка жилья</h1>
        <p class="lead">Самое дешевое и доступное в Санкт-Петербурге &#9962;</p>
      </div>
    </div>
  </div>
</header>
