<!--
<div class="jumbotron jumbotron-fluid rounded shadow" style="margin-top: 20px">
  <div class="container "  >
    <div class=" p-3 rounded-lg" style="margin-left: 40px;margin-right: 40px; background-color: rgba(255,255,255,0.42)">
      <div class=" rounded-lg" style=" margin-left: 20px;">
    <a class="h1" style="font-size: 4vh; font-synthesis: weight;color: #805ac3;"  >Подборка жилья</a>
      </div>
      <div class="col-8"></div>
      </div>
    </div>
</div>
-->

<header class="masthead rounded shadow" >
  <div class="container h-100" style="margin-top: 15px">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center" style="color: white">
        <h1 class="font-weight-light">Где жить?</h1>
        <span class="lead">Самое дешевое и доступное в
          <div ngbDropdown class="d-inline-block" style="vertical-align: center">
        <button class="btn btn-outline-primary"  style="color: white; border-color: white;" ngbDropdownToggle>{{selected_city}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/" (click)="chage_city()">Санкт-Петербурге</button>
          <button ngbDropdownItem routerLink="/msc" >Москве</button>
          <button ngbDropdownItem routerLink="/vvo" >Владивостоке</button>
        </div>
      </div> &#9962;</span>

      </div>
    </div>
  </div>
</header>
